@font-face {
	font-family:"Vera";
	src: url("../fonts/bitstream/vera-webfont.woff");
	src: url("../fonts/bitstream/vera-webfont.eot?#iefix") format("embeddedopentype"),
		 url("../fonts/bitstream/Vera.ttf") format("truetype"),
		 url("../fonts/bitstream/vera-webfont.svg") format("svg");
}
@font-face {
	font-family:"Bebas";
	src: url("../fonts/bebas/BebasNeue-Regular.woff");
	src: url("../fonts/bebas/BebasNeue-Regular.eot?#iefix") format("embeddedopentype"),
		 url("../fonts/bebas/BebasNeue-Regular.ttf") format("truetype"),
		 url("../fonts/bebas/BebasNeue-Regular.svg") format("svg");
}
@font-face {
	font-family:"Collaborate";
	src: url("../fonts/collaborate/ColabThi.woff");
	src: url("../fonts/collaborate/ColabThi.eot?#iefix") format("embeddedopentype"),
		 url("../fonts/collaborate/ColabThi.ttf") format("truetype"),
		 url("../fonts/collaborate/ColabThi.svg") format("svg");
}
@font-face {
	font-family:"Lora";
	src: url("../fonts/Lora/lora-regular-webfont.woff");
	src: url("../fonts/Lora/lora-regular-webfont.eot?#iefix") format("embeddedopentype"),
		 url("../fonts/Lora/Lora-Regular.ttf") format("truetype"),
		 url("../fonts/Lora/lora-regular-webfont.svg") format("svg");
}
@font-face {
	font-family:"Playfair";
	src: url("../fonts/Playfair_Display/playfairdisplay-regular-webfont.woff");
	src: url("../fonts/Playfair_Display/playfairdisplay-regular-webfont.eot?#iefix") format("embeddedopentype"),
		 url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("truetype"),
		 url("../fonts/Playfair_Display/playfairdisplay-regular-webfont.svg") format("svg");
}